---
---

<section class="hero">
  <div class="content">
    <h1>It’s simple.</h1>
    <p>Don’t overthink it.</p>
  </div>
</section>

<style>
  .hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f9f9f9;
    color: #333;
		font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
  }
  .content {
    text-align: center;
    padding: 0 20px;
  }
  h1 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
  }
  p {
    font-size: 1.5rem;
    color: #555;
  }
</style>
